:root {
    --primary-color: #304050;
    --menu-item-color: #fff;
    --hovered-color: #697785;
    --light-text-color: #fff;
    --slider-background: rgba(0, 16, 32, 0.6);
    --light-background: rgb(241, 241, 241);

    --appbar-height: 64px;
    --main-margin: 2vw 20vw;
    --slideshow-image-height-horizontal: 50vh;
    --slideshow-image-height-vertical: 90vh;
}

body {
    font-family: Roboto;
    margin: 0px;
    min-width: 300px;
}

p {
    margin-top: 0px;
}
